In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\covid_toy.csv")

In [3]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [5]:
df = df.dropna()

In [6]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [8]:
df.to_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\covid_data_from_vikas.csv" , index = False)

In [9]:
# !pip install mysql.connector

In [10]:
import mysql.connector

In [11]:
conn = mysql.connector.connect(host = 'localhost' , user = 'root' , password = '' , database = 'hospital_new')

In [12]:
pd.read_sql_query("SELECT * FROM  covid_data_from_vikas" , conn)

C:\Users\saurabh\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
85   12  Female  104.0    Mild  Bangalore        No
86   51  Female  101.0  Strong    Kolkata       Yes
87   20  Female  101.0    Mild  Bangalore        No
88    5  Female   98.0  Strong     Mumbai        No
89   10  Female   98.0  Strong    Kolkata       Yes

[90 rows x 6 columns]

In [15]:
pd.read_sql_query("SELECT * FROM  covid_data_from_vikas  WHERE cough LIKE 'Mild'" , conn)

C:\Users\saurabh\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

    age  gender  fever cough       city has_covid
0    60    Male  103.0  Mild    Kolkata        No
1    27    Male  100.0  Mild      Delhi       Yes
2    42    Male  101.0  Mild      Delhi        No
3    31  Female   98.0  Mild    Kolkata        No
4    65  Female  101.0  Mild     Mumbai        No
5    64  Female  101.0  Mild      Delhi        No
6    65  Female   98.0  Mild     Mumbai       Yes
7    64    Male  102.0  Mild  Bangalore       Yes
8    51    Male  104.0  Mild  Bangalore        No
9    69  Female  103.0  Mild    Kolkata       Yes
10   64  Female   98.0  Mild  Bangalore       Yes
11   73    Male   98.0  Mild  Bangalore       Yes
12   80  Female   98.0  Mild      Delhi       Yes
13   19  Female  100.0  Mild    Kolkata       Yes
14   16    Male  104.0  Mild    Kolkata        No
15   15    Male  101.0  Mild      Delhi       Yes
16   83    Male  103.0  Mild    Kolkata        No
17   26  Female   98.0  Mild    Kolkata        No
18   74    Male  102.0  Mild     Mumbai       Yes
19   38  Female  101.0  Mild  Bangalore        No
20   55    Male  100.0  Mild    Kolkata        No
21   49  Female  101.0  Mild      Delhi       Yes
22   50  Female  103.0  Mild    Kolkata        No
23   49  Female  102.0  Mild      Delhi        No
24   27    Male  100.0  Mild      Delhi       Yes
25   22  Female   99.0  Mild  Bangalore       Yes
26   72    Male   99.0  Mild  Bangalore        No
27   19  Female  101.0  Mild     Mumbai        No
28   18  Female  104.0  Mild  Bangalore        No
29   44    Male  104.0  Mild     Mumbai        No
30   19    Male  101.0  Mild      Delhi       Yes
31   83    Male   98.0  Mild      Delhi       Yes
32   60  Female   99.0  Mild     Mumbai       Yes
33   81  Female  101.0  Mild     Mumbai       Yes
34    6  Female  104.0  Mild    Kolkata       Yes
35   10    Male  100.0  Mild  Bangalore        No
36   42    Male  104.0  Mild     Mumbai        No
37   69  Female  102.0  Mild  Bangalore        No
38   51    Male  104.0  Mild    Kolkata        No
39   65    Male   99.0  Mild  Bangalore        No
40   73  Female  103.0  Mild      Delhi        No
41   83  Female  101.0  Mild    Kolkata        No
42    5    Male  102.0  Mild    Kolkata       Yes
43   80    Male  100.0  Mild  Bangalore       Yes
44    8  Female  101.0  Mild    Kolkata        No
45   11    Male  100.0  Mild  Bangalore       Yes
46   48  Female  103.0  Mild    Kolkata       Yes
47   14  Female   99.0  Mild     Mumbai       Yes
48   65    Male   99.0  Mild      Delhi        No
49   24    Male   98.0  Mild    Kolkata       Yes
50   17  Female  104.0  Mild    Kolkata        No
51   16  Female  103.0  Mild  Bangalore       Yes
52   25    Male  104.0  Mild  Bangalore       Yes
53    5  Female  100.0  Mild    Kolkata        No
54   27    Male  100.0  Mild    Kolkata       Yes
55   12  Female  104.0  Mild  Bangalore        No
56   20  Female  101.0  Mild  Bangalore        No

In [16]:
pd.read_sql_query("SELECT * FROM  covid_data_from_vikas  WHERE fever > 100 " , conn)

C:\Users\saurabh\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    42    Male  101.0    Mild      Delhi        No
2    65  Female  101.0    Mild     Mumbai        No
3    14    Male  101.0  Strong  Bangalore        No
4    64  Female  101.0    Mild      Delhi        No
5    64    Male  102.0    Mild  Bangalore       Yes
6    51    Male  104.0    Mild  Bangalore        No
7    70    Male  103.0  Strong    Kolkata       Yes
8    69  Female  103.0    Mild    Kolkata       Yes
9    33  Female  102.0  Strong      Delhi        No
10   16    Male  104.0    Mild    Kolkata        No
11   15    Male  101.0    Mild      Delhi       Yes
12   83    Male  103.0    Mild    Kolkata        No
13   34  Female  101.0  Strong      Delhi       Yes
14   74    Male  102.0    Mild     Mumbai       Yes
15   82  Female  102.0  Strong  Bangalore        No
16   38  Female  101.0    Mild  Bangalore        No
17   49  Female  101.0    Mild      Delhi       Yes
18   50  Female  103.0    Mild    Kolkata        No
19   49  Female  102.0    Mild      Delhi        No
20   20    Male  102.0  Strong      Delhi        No
21   19  Female  101.0    Mild     Mumbai        No
22   18  Female  104.0    Mild  Bangalore        No
23   44    Male  104.0    Mild     Mumbai        No
24   19    Male  101.0    Mild      Delhi       Yes
25   81  Female  101.0    Mild     Mumbai       Yes
26    6  Female  104.0    Mild    Kolkata       Yes
27   24  Female  102.0  Strong  Bangalore       Yes
28   56  Female  104.0  Strong  Bangalore       Yes
29   42    Male  104.0    Mild     Mumbai        No
30   69  Female  102.0    Mild  Bangalore        No
31   51    Male  104.0    Mild    Kolkata        No
32   54  Female  104.0  Strong    Kolkata        No
33   73  Female  103.0    Mild      Delhi        No
34   68  Female  101.0  Strong      Delhi        No
35   75  Female  104.0  Strong      Delhi        No
36   83  Female  101.0    Mild    Kolkata        No
37   34  Female  104.0  Strong      Delhi        No
38    5    Male  102.0    Mild    Kolkata       Yes
39    8  Female  101.0    Mild    Kolkata        No
40   48  Female  103.0    Mild    Kolkata       Yes
41   17  Female  104.0    Mild    Kolkata        No
42   16  Female  103.0    Mild  Bangalore       Yes
43   25    Male  104.0    Mild  Bangalore       Yes
44   47    Male  101.0  Strong  Bangalore        No
45   46    Male  103.0  Strong  Bangalore        No
46   82  Female  102.0  Strong    Kolkata        No
47   12  Female  104.0    Mild  Bangalore        No
48   51  Female  101.0  Strong    Kolkata       Yes
49   20  Female  101.0    Mild  Bangalore        No